.container {
    padding-left: 100px;
  }
  
  .list {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .link {
    text-decoration: none;
    color: black;
  }

  .link:hover {
    color: blue;
  }